* {
	margin: 0;
	padding: 0;
}
body {
  font-family: 'Lato', sans-serif;
  font-size: 12px;
  line-height: 16px;
  color: #040404;
  background: #fff; 
}

/*heading1*/
h1{
	font-size: 36px;
	color: #555;
	font-weight: bold;
}


.primary{
	color: #0E2046;
}

.primary-bg{
	background-color: #e74c3c; 

}

a:focus{
	list-style: none;
}

a:hover{
	text-decoration: none;
	color: #D55F11;
}

ol,ul{
	margin-bottom: 0px;
}

ul{
	list-style: none;
}

/*get all of the rows to go horizontal*/
ul li {
	display: inline-block;
}

.section-padding{
	padding: 55px 0;
}

.white{
	color:#fff;
}

.bold{
	font-weight: bold;
}

.center{
	text-align: center;
}




